.clearfix:after {
  height: 0;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
}
.clearfix {
  _height: 1px;
  min-height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

* {
    font-size: 14px;
    line-height: 1.5;
}

body {
    padding-left: 1em;
    padding-right: 1em;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

h1,h2,h3,h4,h5,h6 { display: block; font-weight: bold }
h1 {
    font-size: 3em;
    margin: 0;
}
h2 { font-size: 1.5em }
h3 { font-size: 1.3em }
h4 { font-size: 1.2em }
em { font-style: italic; font-weight: bold }
li { line-height: 1.3em; }
pre { line-height: 1.2em; }

.wrapper {
    width: 800px;
    margin: auto;
}

#content {
}
#content ul {
    margin: 10px;
}
#content ul li {
    margin-left: 2em;
    list-style: disc;
}
#content div.section {
    margin-top: 20px;
}

.GraphContainer {
    float: right;
}
.header {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #00f;
}
.footer {
    border-top: 1px solid #cccccc;
    font-size: x-small;
    text-align: right;
    margin-top: 20px;
}


pre {
    background-color: #222;
    color: #DDD;
    margin-top: 10px;
    padding: 10px;
}
